<% function calcXp(data, name)
{
    let current = data.xp;
    let required = xpReqs[data.level];
    
    let percentage = ((current/required)*100).toFixed(0);
    
    
    return `${current.toFixed(0)}/${required} (${percentage}%)`;
} %>

<% function calculateLevel(level)
{
    let requiredXP = xpReqs[level.level];
    let current = level.xp;
    for(let i = 0; i < level.level; i++)
    {
        current -= xpReqs[i];
    }
    return {level: level.level, required: requiredXP, current: current};
} %>

<% const skill_component = (name, data) => { 
let level = calculateLevel(data);%>
<p><%= name %> level: <%= level.level %><br><%= name %> XP: <%= level.current %>/<%= level.required %><br></p>
<progress value="<%= level.current %>" max="<%= level.required %>">progress</progress>
<% }; %>

<html>
    <body>
        <p><%= username %></p>
        <%= skill_component('Taming', skills.fishing) %>
    </body>
</html>
