<html>
    <body>
        <p><%= name %></p>
        <p>Fishing level: <%= skills.fishing.level %></p>
        <p>Farming level: <%= skills.farming.level %></p>
        <p>Mining level: <%= skills.mining.level %></p>
        <p>Agility level: <%= skills.agility.level %></p>
        <p>Slayer level: <%= skills.slayer.level %> NOTE: this skill has been added to the API, but has no use yet</p>
        <p>Attack level: <%= skills.attack.level %></p>
        <p>Strength level: <%= skills.strength.level %></p>
        <p>Defense level: <%= skills.defense.level %></p>
        <p>Health level: <%= skills.health.level %></p>
        <p>Range level: <%= skills.range.level %></p>
        <p>Magic level: <%= skills.magic.level %></p>
        <p>Cooking level: <%= skills.cooking.level %></p>
        <p>Fletching level: <%= skills.fletching.level %></p>
        <p>Smithing level: <%= skills.smithing.level %></p>
        <p>Artisan level: <%= skills.artisan.level %></p>
        <p>Alchemy level: <%= skills.alchemy.level %></p>
    </body>
</html>
